<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ServerEast - Web Hosting HTML Template - Datacenter</title>
    <link rel="shortcut icon" href="images/icons/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,600,500,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap & Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/block_grid_bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/jquery.circliful.css" rel="stylesheet" />
    <link href="css/slicknav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">

</head>

<body>

    <!-- Top Bar-->
    <div class="top">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-sm-9">

                <nav id="desktop-menu">
                    <ul class="sf-menu" id="navigation">
                        <li><a href="#">Home</a>
                            <ul>
                                <li><a href="index.html">Image Slider</a>
                                </li>
                                <li><a href="index-video.html">Video Header</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Hosting</a>
                            <ul>
                                <li><a href="shared.html">Shared Hosting</a>
                                </li>
                                <li><a href="vps.html">Cloud VPS</a>
                                <ul>
                                <li><a href="vps-slider-3-plans.html">3 Plans Slider</a></li>
                                <li><a href="vps-slider-5-plans.html">5 Plans Slider</a></li>
                                <li><a href="vps-slider-6-plans.html">6 Plans Slider</a></li>
                                </ul>
                                </li>
                                <li><a href="servers.html">Dedicated Servers</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="domains.html">Domains</a>
                        </li>
                        <li class="current"><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About</a>
                                </li>
                                <li><a href="faq.html">FAQ</a>
                                </li>
                                <li><a href="login.html">Login</a>
                                </li>
                                <li><a href="datacenter.html">Datacenter</a>
                                </li>
                                <li><a href="elements.html">Elements</a>
                                </li>

                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="blog-category.html">Category</a>
                                </li>
                                <li><a href="blog-single.html">Single</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- End of Top Bar-->

    <!-- Breadcrumps -->
    <div class="breadcrumbs">
        <div class="row">
            <div class="col-sm-6">
                <h1>Datacenter</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li>You are here: </li>
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Pages
                    </li>
                    <li class="active">Datacenter</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- End of Breadcrumps -->

    <!-- Datacenter -->
    <section class="datacenter">
        <div class="row">
            <div class="col-sm-12">
                <h2>Data Center. Enterprise connectivity.</h2>
                <p>Life-expectancy economic security meaningful work; significant, equal opportunity Bloomberg open source prosperity catalytic effect. </p>
                <div class="datacenter-map wow fadeInUp" data-wow-delay="0.2s"><img src="images/datacenter-map.png" alt="" />
                </div>
            </div>
        </div>

    </section>

    <section class="datacenter-facilities">
        <div class="row">
            <div class="col-sm-6 col-md-4">

                <div class="facility  wow fadeInRight" data-wow-delay="0.2s">
                    <h3>
<span class="ficon"><i class="fa fa-fighter-jet"></i></span>
<span class="title">High Speed</span>
</h3>
                    <p>Countries collaborative consumption board of directors best practices diversity, women and children. </p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="facility   wow fadeInRight" data-wow-delay="0.4s">

                    <h3>
<span class="ficon"><i class="fa fa-plug"></i></span>
<span class="title">Power Distribution</span>
</h3>
                    <p>Replicable, organization institutions justice, micro-finance, equality. Refugee honor conflict resolution.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="facility   wow fadeInRight" data-wow-delay="0.6s">

                    <h3>
<span class="ficon"><i class="fa fa-leaf"></i></span>
<span class="title">Climate-Positive</span>
</h3>
                    <p>Medical supplies, free expression, peaceful immunize progressive; making progress generosity empowerment think.</p>
                </div>

            </div>
            <div class="col-sm-6 col-md-4">

                <div class="facility   wow fadeInLeft" data-wow-delay="0.8s">
                    <h3>
<span class="ficon"><i class="fa fa-shield"></i></span>
<span class="title">Data Loss Avoidance</span>
</h3>
                    <p>Replicable, organization institutions justice, micro-finance, equality. Refugee honor conflict resolution.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="facility  wow fadeInLeft" data-wow-delay="1s">

                    <h3>
<span class="ficon"><i class="fa fa-key"></i></span>
<span class="title">Verified Protection</span>
</h3>
                    <p>Human rights natural resources policy dialogue policymakers women's rights; our grantees and partners global. </p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="facility   wow fadeInLeft" data-wow-delay="1.2s">

                    <h3>
<span class="ficon"><i class="fa fa-lock"></i></span>
<span class="title">Security</span>
</h3>
                    <p>Sustainable approach forward-thinking Bloomberg treatment altruism open source. Global citizens growth Kickstarter.</p>
                </div>

            </div>
        </div>

    </section>

    <div class="partners">
        <div class="row">
            <div class="col-sm-12">
                <div id="datacenter-partners">

                    <div class="item"><img src="images/clients/1.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/2.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/3.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/4.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/5.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/6.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/7.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/8.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/9.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/1.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/2.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/3.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/4.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/5.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/6.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/7.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/8.png" alt="">
                    </div>
                    <div class="item"><img src="images/clients/9.png" alt="">
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- End of Datacenter -->

    <!--  Footer -->
    <div class="social">
        <div class="row">

            <div class="col-sm-6">
                <ul>
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#" title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li><a href="#" title="rss" target="_blank"><i class="fa fa-rss"></i></a>
                    </li>
                    <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="#" title="github" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6">

                <div id="mc_embed_signup">
                    <form class="form-inline validate" action="//audemedia.us7.list-manage.com/subscribe/post?u=b5638e105dac814ad84960d90&amp;id=9345afa0aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="row no-gutter">
                            <div class="col-xs-12 col-sm-9">
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Subscribe to our newsletter" required>
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_b5638e105dac814ad84960d90_9345afa0aa" tabindex="-1" value="">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <section class="footer">
        <div class="row">
            <div class="col-sm-3">
                <h4>Choose.</h4>
                <ul>
                    <li><a href="">Shared Hosting</a>
                    </li>
                    <li><a href="">Reseller Hosting</a>
                    </li>
                    <li><a href="">Cloud Managed VPS</a>
                    </li>
                    <li><a href="">Managed Dedicated Servers</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Get Support.</h4>
                <ul>
                    <li><a href="">Contact Us</a>
                    </li>
                    <li><a href="">Knowledge Base</a>
                    </li>
                    <li><a href="">Submit a Ticket</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Start.</h4>
                <ul>
                    <li><a href="">WordPress Hosting</a>
                    </li>
                    <li><a href="">Joomla Hosting</a>
                    </li>
                    <li><a href="">Magento Hosting</a>
                    </li>
                    <li><a href="">Drupal Hosting</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Ask.</h4>
                <ul class="questions">
                    <li><a href=""><i class="fa fa-comment"></i> LIVE CHAT</a>
                    </li>
                    <li><i class="fa fa-phone"></i> +1.186.704.2263</li>
                    <li><a href=""><i class="fa fa-envelope"></i> E-MAIL US</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  End of Footer -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
    $(document).ready(function() {

        $("#datacenter-partners").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items: 6,
            itemsDesktop: [1199, 5],
            itemsDesktopSmall: [979, 3],
            pagination: false

        });

    });
    </script>


</body>

</html>
