{{define "help-destroy"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RIPACrypt - Help | View a Crypt</title>
    <link rel="shortcut icon" href="../../images/icons/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,600,500,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap & Styles -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../../css/block_grid_bootstrap.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/owl.carousel.css" rel="stylesheet">
    <link href="../../css/owl.theme.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/jquery.circliful.css" rel="stylesheet" />
    <link href="../../css/slicknav.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Top Bar-->
    <div class="top">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <a href="/"><img src="../../images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-sm-9">

                <nav id="desktop-menu">
                    <ul class="sf-menu" id="navigation">
                        <li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li class="current"><a href="#">Help</a>
                            <ul>
                                <li><a href="/help/">Download, Install &amp; Getting Started</a></li>
				<li><a href="/help/create/">Create a Crypt</a></li>
				<li><a href="/help/checkin/">Check in</a></li>
				<li><a href="/help/view/">View a Crypt</a></li>
				<li class="current"><a href="/help/destroy/">Destroy a Crypt</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- End of Top Bar-->

    <!-- Breadcrumps -->
    <div class="breadcrumbs">
        <div class="row">
            <div class="col-sm-6">
                <h1>Destroying Crypts</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li>You are here: </li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/help/">Help</a></li>
                    <li class="active">Destroying Crypts</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- End of Breadcrumps -->

    <!-- Blog -->
    <div class="blog single">
    <div class="row">
            <div class="col-sm-8">

            <!-- Blog Post-->
            <article>
            <img src="images/quote-image2.jpg" alt="" />
            <div class="post-content">
            <h2>Destroying Crypts</h2>
            <div class="thedate">Last updated: 1st June 2016</div>
            <hr/>
            <p>This help content is not currently available. You can help by <a href="https://github.com/BrassHornCommunications/RIPACryptd">cloning the server software</a> and making a GitHub pull request</p>
            </div>
            </article>
            <!-- End of Blog Post-->


        </div>

        <div class="col-sm-4">
        <div class="sidebar">

        <div class="widget">
        <h3 class="badge">HELP</h3>
        <ul>
        <li><a href="/help/download/">Download, Install &amp; Getting Started</a></li>
				<li><a href="/help/create/">Create a Crypt</a></li>
				<li><a href="/help/checkin/">Check in</a></li>
				<li class="current"><a href="/help/view/">View a Crypt</a></li>
				<li><a href="/help/destroy/">Destroy a Crypt</a></li>
        </ul>
        </div>

        <!--<div class="widget">
        <form class="form-inline blogsearch" method="post" action="#">
 <input type="text" class="form-control" name="sld" onfocus="if (this.value == 'Search & Press Enter') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search & Press Enter';}" value="Search & Press Enter" />
</form>
   </div>-->

        <div class="widget">
       <h3 class="badge">Advanced Usage</h3>
        <ul>
          <li><a href="/help/challenge/">Generate a Challenge</a></li>
          <li><a href="/help/newbtc/">Generate a new Bitcoin Address</a></li>
        </ul>
   </div>



        </div>

        </div>

        </div>
</div>


    <!-- End of Blog -->

    <!--  Footer -->
    <div class="social">
        <div class="row">

            <div class="col-sm-6">
                <ul>
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="github" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

            <div class="col-sm-6">
            </div>
        </div>
    </div>

       <section class="footer">
        <div class="row">
            <div class="col-sm-3">
                <h4>Navigation.</h4>
                <ul>
                    <li><a href="/about/">About</a>
                    </li>
                    <li><a href="/faq/">FAQ</a>
                    </li>
                    <li><a href="/help/">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h4>Brass Horn Communications</h4>
                <ul>
                    <li><a href="https://brasshorncommunications.uk/projects/">Projects</a>
                    </li>
                    <li><a href="https://globe.torproject.org/#/search/query=BrassHorn">Tor Relays</a>
                    </li>
                    <li><a href="https://brasshorncommunications.uk/canary/">Warrant Canary</a>
                    </li>
                </ul>
            </div>  

            <div class="col-sm-3">
                <h4>Ask.</h4>
                <ul class="questions">
                    <li><a href="mailto:hello@brasshorncommunications.uk"><i class="fa fa-envelope"></i> E-MAIL US</a>
                    </li>
                </ul>
            </div>  
        </div>
    </section>      

    <!--  End of Footer -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/custom.js"></script>




</body>

</html>
{{end}}
